<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Silly Song.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E41ACD1ED4B112009552B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E41AE11ED4B112009552B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E41AEC1ED4B112009552B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
